@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background: url(/background.png) no-repeat;
  background-size: cover;
}

.header::before {
  background: linear-gradient(rgba(0, 0, 0, 0.4), #101010);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: block;
  bottom: -5px;
}

.header::after {
  height: 227.5px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: block;
  bottom: auto;
}

.slowLoad {
  opacity: 0;
  transition-duration: 3s;
}

.loading {
  opacity: 1;
}

img,
a {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.scale {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.group:hover .scale {
  -webkit-transform: rotate(2deg) scale(1.15);
  -ms-transform: rotate(2deg) scale(1.15);
  transform: rotate(2deg) scale(1.15);
}